/*------------------------------------*/
/*CONTENU IDENTIQUE A TOUTES LES PAGES*/
/*------------------------------------*/
.slide-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}
.slide-in.active {
    opacity: 1;
    transform: translateY(0);
}

body{
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 20vw;
    z-index: 2;
}
#ensembleNav{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: auto;
    width: 18vw;
    height: 100vh;
    border-right: black solid 1px;
    padding: 1vw;
}
#ensembleNav #logoEntrepriseRond{
    display: flex;
    align-self: center;
}
#menuGlob{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: left;
    font-size: 2.5vh;
    border-top: solid black;
    padding-top: 2vh;
    text-transform: uppercase;
}
#menuGlob #mainMenuLi{
    padding: 0;
}
#menuGlob a{
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
}
#menuGlob #mainMenuLi::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    background: #aa7d00;
    transition: width 0.2s ease;
}

#menuGlob #mainMenuLi:hover::after {
    width: 18vw;
    left: 1vw;
    background: #aa7d00;
}
#menuGlob #mainMenuLi:hover a{
    color:#aa7d00 ;
}
nav #logoEntrepriseRond{
    width: 15vw;
    border: solid black;
    border-radius: 50%;
    transition: all ease 0.5s;
}
#listeSousMenu{
    display: flex;
    text-align: left;
    list-style:none;
    flex-direction: column;
    position: absolute;
    background-color: #aa7d00;
    width: 30vw;
    height: 100vh;
    top: -100vh;
    left: 20vw;
    transition: top ease 0.3s;
    transition-delay: 0.3s;
    cursor: pointer;
}
#listeSousMenu li{
    cursor: pointer;
}
#listeSousMenu li:hover{
    color: white;
}
.interfaceSousMenuGlob:hover #listeSousMenu{
    display: flex;
}
.interfaceSousMenuGlob:hover #listeSousMenu{
    top: 0;
}
#TitreSousMenu{
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 1vw;
    text-align: center;
}
#sousTitreSousMenu{
    text-transform: uppercase;
    background-color: white;
    padding: 1vw;
}




#entetePage{
    background-color: #ffffff;
    width: 100%;
    height: 60vh;
    justify-self: left;
    margin: 0;
    display: flex;
    background-color: #0000006e;
    justify-content: space-evenly;
    justify-self: left;
}
#texteTitresEntete{
    text-transform: uppercase;
    color: white;
    padding: 2vw;
    align-self: last baseline;
    width: 100%;
}
#texteTitresEntete h1{
    font-size: 3vw;
    align-items: baseline;
}
#texteTitresEntete h1:hover,#texteTitresEntete p:hover{
    color: #aa7d00;
}
#texteTitresEntete p{
    font-size: 1vw;
    align-items: baseline;
}
#sectionGlobFondBlanc{
    background-color: rgba(255, 255, 255, 0.712);
    height: auto;
    display: flex;
    flex-direction: row;
}
#sectionGlobFondBlanc img{
    width: 20vw;
    margin: 2vw;
    transition: all ease 1s;
}
#sectionFondBlancTexte{
    border-left: solid black 1px;
    margin: 2vw 0;
    padding-left: 1vw;
}
#sectionFondBlancTexte h2{
    font-size: 1vw;
}
#sectionGlobFondBlanc img:hover{
    transform: scale(0.9);
}
footer{
    text-align: center;
    padding-top: 1vw;
    border-top: solid 0.5px;
    padding-bottom: 1vw;
    background-color: #aa7d00;
    font-style: italic;
}

footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    padding-left: 0;
}

footer li{
    margin-inline: 1vw;
}



/*---------------*/
/*CONTENU ACCUEIL*/
/*---------------*/
#horaireSection{
    background-color: rgba(255, 255, 255, 0.712);
    text-align: center;
    padding: 1vw;
    margin-top: 1vw;
}
#horaireSection h2{
    text-transform: uppercase;
}

/*----------------*/
/*CONTENU HISTOIRE*/
/*----------------*/
#sectionGlobFondHistoire{
    background-color: #0000006e;
    height: auto;
    display: flex;
    flex-direction: row;
    color: white;
}

#titreEtAnnee{
    list-style:none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
#titreEtAnnee{
    display: flex;
    align-items: center;
}
#sectionFondHistoireTexte p{
    margin-left: 8vw;
}
#titreEtAnnee h2{
    margin: 0;
    text-transform: uppercase;
}
#titreEtAnnee #titre{
    padding: 1vh 0;
}
#titreEtAnnee #annee{
    margin-right: 1vw;
    background-color: #aa7d00;
    padding: 1vh 2vw;
    border-radius: 0 50vw 50vw 0;
    width: 2.5vw;
}
/*--------------*/
/*CONTENU EQUIPE*/
/*--------------*/
#sectionGlobFondEquipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0000006e;
    color: white;
    text-align: center;
    
}
#sectionGlobFondEquipe.simpleEmploye img{
    max-width: 7vw;
}
#sectionGlobFondEquipe.simpleEmploye #personne{
    max-width: 7vw;
    font-size: 0.5vw;
    padding-bottom: 5vw;
}
#sectionGlobFondEquipe img{
    width: auto;
    max-width: 13vw;
    border: solid #000000;
    transition: transform ease 0.5s;
}
#sectionGlobFondEquipe img:hover{
    transform: scale(0.9);
}
#personne{
    background-color: #615d5e;
    margin: 1vw;
    width: auto;
    max-width: 15vw;
    padding: 1vw;
    padding-bottom: 14vh;
    border-radius: 0 0 50vw 50vw;
}
#buttonFicheDePoste{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 1vw;
    padding: 1vh;
    border: solid;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8vw;
    transition: transform ease 0.5s;
}
#buttonFicheDePoste:hover{
    transform: scale(0.9);
}
.ficheDePosteGlob{
    position:fixed;
    font-size: 1vw;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    padding: 10vh 10vw;
    transform: scale(0);
    transition: transform ease 1s;
}
#fichePoste{
    background-color: #615d5e;
    color: white;
    width: 80vw;
    height: 80vh;
    padding: 1vh 1vw;
    text-align: center;
    overflow-y:scroll;
    border: solid black;
}
#croixFermetureFichePoste{
    display: block;
    cursor: pointer;
    position: fixed;
}
#fichePoste ul{
    list-style: none;
}
#telechargerOrganigramme{
    padding: 1vw;
    font-size: 1vw;
    color: white;
    text-transform: uppercase;
    border: solid black;
    border-radius: 50vw;
    background-color: #615d5e;
    margin: 1vw;
    transition: all ease 0.5s;
}
#telechargerOrganigramme:hover{
    transform: scale(0.9);
}

/*--------------------------------*/
/*CONTENU FOURNISSEURS et PRODUITS*/
/*--------------------------------*/
#buttonEnSavoirPlusSurProduitsOuFournisseur{
    padding: 1vw;
    font-size: 0.8vw;
    border-radius: 50vw;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    transition: all ease 0.5s;
    border: 0;
}
#buttonEnSavoirPlusSurProduitsOuFournisseur:hover{
    transform: scale(0.9);
    background-color: black;
    color: white;
    border: none;
}
/*--------------------*/
/*CONTENU FOURNISSEURS*/
/*--------------------*/
#sectionGlobTousFournisseurs{
    background-color: #0000006e;
    text-align: center;
}
#sectionGlobTousFournisseurs h1{
    margin: 0;
    text-transform: uppercase;
    padding: 2vh 0;
    font-size: xx-large;
    background-color:#375110 ;
    color: white;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}
#listeDesFournisseursUl{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;

}
#listeDesFournisseursUl li{
    background-color:#375110 ;
    margin: 1vw;
    padding: 1vw;
    border-radius:0.5vw ;
    color: white;
    flex-wrap: wrap;
    width: 19vw;
    border: solid white 2px;
}
#listeDesFournisseursUl img{
    width: 18vw;
    border-radius: 0.5vw;
    aspect-ratio: 4/3;
    transition: transform ease 0.5s;
}
#listeDesFournisseursUl img:hover{
    transform: scale(0.9);
}




.infosFournisseurGlob{
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    transition: transform ease 1s;
    transform: scale(0);
}
#infosFournisseur{
    margin: 10vh 10vw;
    background-color: #375110;
    color: white;
    width: 80vw;
    height: 80vh;
    padding: 1vw;
    border: solid;
    overflow-y: scroll;
    text-align: center;
}
#infosFournisseur li{
    list-style: none;
}
#infosFournisseur img{
    width: 20vw;
    border: solid;
}

/*----------------*/
/*CONTENU PRODUITS*/
/*----------------*/
#barreFiltresProduits{
    background-color: white;
    padding: 3vh 0;
}
#barreFiltresProduits p{
    text-transform: uppercase;
    text-align: center;
}
#barreFiltreProduitsCheckboxListesPartieSuperieur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#barreFiltreProduitsCheckboxListesPartieSuperieur ul{
    list-style: none;
    text-align: left;
    padding: 0;
}
#barreFiltreProduitsCheckboxListesPartieSuperieur .listeParTypeProdGlob{
    border-left: solid 1px black;
    padding-left: 1vw;
}

#sectionProduitsGlob{
    background-color: #0000006e;
    text-align: center;
    margin-top: -1vw;
}
#sectionProduitsGlob h1{
    margin: 0;
    text-transform: uppercase;
    padding: 2vh 0;
    font-size: xx-large;
    background-color:white ;
    color: black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
#listesProduitsUl{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;

}
#listesProduitsUl li{
    background-color:white ;
    margin: 1vw;
    padding: 1vw;
    border-radius:0.5vw ;
    color: black;
    flex-wrap: wrap;
    width: 19vw;
    border: solid black 1px;
}
#listesProduitsUl img{
    width: 18vw;
    border-radius: 0.5vw;
    aspect-ratio: 4/3;
    transition: transform ease 0.5s;
}
#listesProduitsUl img:hover{
    transform: scale(0.9);
}
#listesProduitsUl .imageProduitVins{
    aspect-ratio: 9/20;
    width: 10vw;
    border: 0;
}

#listesProduitsUl .imageProduitCharcuterie{
    width: 19vw;
    height: auto;
    border: 0;
}


#croixFermetureDetailProd{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vh 2vw;
    cursor: pointer;
}


.infosProdGlob{
    width: 80vw;
    height: 80vh;
    background-color: white;
    position: fixed;
    left: 10vw;
    right: 10vw;
    top: 10vh;
    bottom: 10vh;
    z-index: 2;
    border: solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform ease 1s;
    transform: scale(0);
}
.infosProdGlob #partieGauche{
    width: 30vw;
    display: flex;
    justify-content: center;
    height: 70vh;
    border-right: solid 1px;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    padding: 0 2vw;
=======
    margin-left:2vw ;
>>>>>>> 9eef5547a34d177b0cf09d9b4f3dacdf238053b0
}
#imageDetailProd{
    height: 45vh;
    transition: transform 0.5s ease;
    cursor: pointer;
}
#imageDetailProd:hover{
    transform: scale(1.1);
}
.infosProdGlob #partieGauche #imagePartieGauche{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infosProdGlob #partieGauche #infosPrincipalesPartieGauche{
    height: 20vh;
    text-transform: uppercase;
}
.infosProdGlob #partieGauche #infosPrincipalesPartieGauche h2{
    font-size: x-large;
}
.infosProdGlob #partieGauche #infosPrincipalesPartieGauche h3{
    font-size: large;
}
.infosProdGlob #partieGauche #infosPrincipalesPartieGauche p{
    font-size: medium;
    font-style: italic;
}



.infosProdGlob #partieDroiteTexte{
    height: 70vh;
    width: 46vw;
    padding: 1vw;
    overflow-y: scroll;
}
.infosProdGlob #partieDroiteTexte h1{
    text-transform: uppercase;
    font-size: xx-large;
}
.infosProdGlob #partieDroiteTexte button{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    background-color: #aa7d00;
    border-radius: 50vw;
    padding: 1vh;
    border: solid;
    font-weight: bold;
    cursor: pointer;
    font-size: 1vw;
}


