/*------------------------------------*/
/*CONTENU IDENTIQUE A TOUTES LES PAGES*/
/*------------------------------------*/
.slide-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.slide-in.active {
    opacity: 1;
    transform: translateY(0);
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

#navGlob {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 18%;
    z-index: 2;
    padding: 1%;
    border-right: black solid 1px;
    position: fixed;
}

#navGlob #flecheNav {
    position: absolute;
    width: 5%;
    left: 90%;
    top: 2%;
    cursor: pointer;
}

#navGlob #logoEntrepriseRond {
    display: flex;
    align-self: center;
}

#menuGlob {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0%;
    text-align: left;
    font-size: 1.5rem;
    border-top: solid black;
    padding-top: 7%;
    text-transform: uppercase;
    overflow: hidden;
}

#menuGlob #mainMenuLi {
    padding: 0%;
}

#menuGlob a {
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
}

#menuGlob #mainMenuLi::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.4%;
    display: block;
    margin-top: 1%;
    background: #aa7d00;
    transition: width 0.2s ease;
}

#menuGlob #mainMenuLi:hover::after {
    width: 90%;
    left: 5%;
    background: #aa7d00;
}

#menuGlob #mainMenuLi:hover a {
    color: #aa7d00;
}

#navGlob #logoEntrepriseRond {
    width: 80%;
    border: solid black;
    border-radius: 50%;
    transition: all ease 0.5s;
}

#listeSousMenu {
    display: flex;
    list-style: none;
    flex-direction: column;
    position: absolute;
    background-color: #aa7d00;
    width: 170%;
    height: 100%;
    top: -100%;
    left: 100%;
    transition: top ease 0.3s;
    transition-delay: 0.3s;
    cursor: pointer;
    padding-left: 0%;
    padding-right: 20%;
}

#listeSousMenu li {
    cursor: pointer;
    font-size: 2.5vh;
    text-align: left;
    padding-left: 5%;
}

#listeSousMenu li:hover {
    color: white;
}

.interfaceSousMenuGlob:hover #listeSousMenu {
    display: flex;
}

.interfaceSousMenuGlob:hover #listeSousMenu {
    top: 0%;
}

#TitreSousMenu {
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 3%;
    padding-left: 5%;
    text-align: left;
    font-size: 4vh;
}

#sousTitreSousMenu {
    text-transform: uppercase;
    background-color: white;
    padding: 2.2%;
    font-size: 3.5vh;
    text-align: left;
    padding-left: 5%;
}

#contenu {
    margin-left: 20%;
    width: 80%;
}



#entetePage {
    background-color: #ffffff;
    width: 100%;
    height: 60vh;
    justify-self: left;
    display: flex;
    background-color: #0000006e;
    justify-self: left;
}

#texteTitresEntete {
    text-transform: uppercase;
    color: white;
    padding: 2%;
    align-self: last baseline;
    width: 60%;
}

#texteTitresEntete h1 {
    font-size: 3rem;
    align-items: baseline;
}

#texteTitresEntete h1:hover,
#texteTitresEntete p:hover {
    color: #aa7d00;
}

#texteTitresEntete p {
    font-size: 1rem;
    align-items: baseline;
}

#sectionGlobFondBlanc {
    background-color: rgba(255, 255, 255, 0.712);
    height: auto;
    display: flex;
    flex-direction: row;
}

#sectionGlobFondBlanc img {
    width: 20%;
    margin: 2%;
    transition: all ease 1s;
}

#sectionFondBlancTexte {
    border-left: solid black 1px;
    margin: 2rem 0;
    padding-left: 1rem;
}

#sectionFondBlancTexte h2 {
    font-size: 1rem;
}

#sectionGlobFondBlanc img:hover {
    transform: scale(0.9);
}

footer {
    text-align: center;
    padding-top: 2%;
    border-top: solid 0.5px;
    padding-bottom: 2%;
    background-color: #aa7d00;
    font-style: italic;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    padding-left: 0%;
}

footer li {
    margin-inline: 1%;
}



/*---------------*/
/*CONTENU ACCUEIL*/
/*---------------*/
#horaireSection {
    background-color: rgba(255, 255, 255, 0.712);
    text-align: center;
    padding: 1%;
    margin-top: 1%;
}

#horaireSection h2 {
    text-transform: uppercase;
}

/*----------------*/
/*CONTENU HISTOIRE*/
/*----------------*/
#sectionGlobFondHistoire {
    background-color: #0000006e;
    height: auto;
    display: flex;
    flex-direction: row;
    color: white;
}

#titreEtAnnee {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: 0%;
}

#titreEtAnnee {
    display: flex;
    align-items: center;
}

#sectionFondHistoireTexte p {
    margin-left: 9rem;
}

#titreEtAnnee h2 {
    margin: 0%;
    text-transform: uppercase;
}

#titreEtAnnee #titre {
    padding: 1rem 0;
}

#titreEtAnnee #annee {
    margin-right: 1rem;
    background-color: #aa7d00;
    padding: 1rem 2rem;
    border-radius: 0 50% 50% 0;
    width: 4rem;
}

/*--------------*/
/*CONTENU EQUIPE*/
/*--------------*/
#sectionGlobFondEquipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0000006e;
    color: white;
    text-align: center;

}
#sectionGlobFondEquipe.gerant #personne{
    width: 22rem;
    background-color: #9b0027;
}

#sectionGlobFondEquipe.gerant img{
    width: 20rem;
}


#sectionGlobFondEquipe.responsable #personne{
    width: 15rem;
    background-color: #005000;
}
#sectionGlobFondEquipe.responsable img{
    width: 13rem;
}


#sectionGlobFondEquipe.simpleEmploye #personne{
    width: 10rem;
    background-color: #aa7d00;
}
#sectionGlobFondEquipe.simpleEmploye img{
    width: 8rem;
}

#sectionGlobFondEquipe img {
    border: solid;
    transition: transform ease 0.5s;
}

#sectionGlobFondEquipe img:hover {
    transform: scale(0.9);
}

#personne {
    background-color: #615d5e;
    margin: 1%;
    padding: 1%;
    padding-bottom: 10%;
    border-radius: 0 0 50vw 50vw;
    border: solid;
}

#buttonFicheDePoste {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 50vw;
    padding: 4%;
    border: solid;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: transform ease 0.5s;
}

#buttonFicheDePoste:hover {
    transform: scale(0.9);
}

.ficheDePosteGlob {
    position: fixed;
    font-size: 1rem;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    padding: 10vh 10vw;
    transform: scale(0);
    transition: transform ease 1s;
}

#fichePoste {
    background-color: #615d5e;
    color: white;
    width: 80%;
    height: 80%;
    padding: 1vh 1vw;
    text-align: center;
    overflow-y: scroll;
    border: solid black;
}

#croixFermetureFichePoste {
    display: block;
    cursor: pointer;
    position: fixed;
}

#fichePoste ul {
    list-style: none;
}
#globTelechargerOrganigramme{
    background-color: #0000006e;
    display: flex;
    justify-content: center;
}
#telechargerOrganigramme {
    padding: 1%;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    border: solid black;
    border-radius: 50vw;
    background-color: #615d5e;
    transition: all ease 0.5s;
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: center;
    margin: 2%;
}

#telechargerOrganigramme:hover {
    transform: scale(0.9);
}

/*--------------------------------*/
/*CONTENU FOURNISSEURS et PRODUITS*/
/*--------------------------------*/
#buttonEnSavoirPlusSurProduitsOuFournisseur {
    padding: 5%;
    font-size: 1rem;
    border-radius: 50vw;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    transition: all ease 0.5s;
    border: 0;
}

#buttonEnSavoirPlusSurProduitsOuFournisseur:hover {
    transform: scale(0.9);
    background-color: black;
    color: white;
    border: none;
}

/*--------------------*/
/*CONTENU FOURNISSEURS*/
/*--------------------*/
#sectionGlobTousFournisseurs {
    background-color: #0000006e;
    text-align: center;
}

#sectionGlobTousFournisseurs h1 {
    margin: 0;
    text-transform: uppercase;
    padding: 1% 0;
    font-size: xx-large;
    background-color: #375110;
    color: white;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

#listeDesFournisseursUl {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;

}

#listeDesFournisseursUl li {
    background-color: #375110;
    margin: 1%;
    padding: 1%;
    border-radius: 0.5vw;
    color: white;
    flex-wrap: wrap;
    width: 25rem;
    border: solid white 2px;
}

#listeDesFournisseursUl img {
    width: 100%;
    border-radius: 0.5vw;
    aspect-ratio: 4/3;
    transition: transform ease 0.5s;
}

#listeDesFournisseursUl img:hover {
    transform: scale(0.9);
}




.infosFournisseurGlob {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform ease 1s;
    transform: scale(0);
}

#infosFournisseur {
    margin: 10vh 10vw;
    background-color: #375110;
    color: white;
    width: 80vw;
    height: 80vh;
    padding: 1%;
    border: solid;
    overflow-y: scroll;
    text-align: center;
}

#infosFournisseur li {
    list-style: none;
}

#infosFournisseur img {
    width: 20rem;
    border: solid;
}

/*----------------*/
/*CONTENU PRODUITS*/
/*----------------*/
#barreFiltresProduits {
    background-color: white;
    padding: 3% 0;
}

#barreFiltresProduits p {
    text-transform: uppercase;
    text-align: center;
}

#barreFiltreProduitsCheckboxListesPartieSuperieur {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#barreFiltreProduitsCheckboxListesPartieSuperieur ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

#barreFiltreProduitsCheckboxListesPartieSuperieur .listeParTypeProdGlob {
    border-left: solid 1px black;
    padding-left: 1%;
}

#sectionProduitsGlob {
    background-color: #0000006e;
    text-align: center;
    margin-top: -1%;
}

#sectionProduitsGlob h1 {
    margin: 0;
    text-transform: uppercase;
    padding: 2% 0;
    font-size: xx-large;
    background-color: white;
    color: black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#listesProduitsUl {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;

}

#listesProduitsUl li {
    background-color: white;
    margin: 1%;
    padding: 1%;
    border-radius: 0.5vw;
    color: black;
    flex-wrap: wrap;
    width: 19rem;
    border: solid black 1px;
}

#listesProduitsUl img {
    width: 18rem;
    border-radius: 0.5vw;
    aspect-ratio: 4/3;
    transition: transform ease 0.5s;
}

#listesProduitsUl img:hover {
    transform: scale(0.9);
}

#listesProduitsUl .imageProduitVins {
    aspect-ratio: 9/20;
    width: 10rem;
    border: 0;
}

#listesProduitsUl .imageProduitCharcuterie {
    width: 19rem;
    height: auto;
    border: 0;
}


#croixFermetureDetailProd {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1% 2%;
    cursor: pointer;
}


.infosProdGlob {
    width: 80vw;
    height: 80vh;
    background-color: white;
    position: fixed;
    left: 10vw;
    right: 10vw;
    top: 10vh;
    bottom: 10vh;
    z-index: 2;
    border: solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform ease 1s;
    transform: scale(0);
}

.infosProdGlob #partieGauche {
    width: 30vw;
    display: flex;
    justify-content: center;
    height: 70vh;
    border-right: solid 1px;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    overflow: hidden;
}

#imageDetailProd {
    height: 45vh;
    transition: transform 0.5s ease;
    cursor: pointer;
}

#imageDetailProd:hover {
    transform: scale(1.1);
}

.infosProdGlob #partieGauche #imagePartieGauche {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infosProdGlob #partieGauche #infosPrincipalesPartieGauche {
    height: 20vh;
    text-transform: uppercase;
}

.infosProdGlob #partieGauche #infosPrincipalesPartieGauche h2 {
    font-size: x-large;
}

.infosProdGlob #partieGauche #infosPrincipalesPartieGauche h3 {
    font-size: large;
}

.infosProdGlob #partieGauche #infosPrincipalesPartieGauche p {
    font-size: medium;
    font-style: italic;
}



.infosProdGlob #partieDroiteTexte {
    height: 70vh;
    width: 46vw;
    padding: 1vw;
    overflow-y: scroll;
    display: flex;
}

.infosProdGlob #partieDroiteTexte h1 {
    text-transform: uppercase;
    font-size: xx-large;
}

.infosProdGlob #partieDroiteTexte button {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    background-color: #aa7d00;
    border-radius: 50vw;
    padding: 1vh;
    border: solid;
    font-weight: bold;
    cursor: pointer;
    font-size: 1vw;
}